In [2]:
import numpy as np
import pandas as pd
import os
import datetime
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('user_info.csv')
df.corr

<bound method DataFrame.corr of            id householder_name  per_num  year               ID_card  level  \
0      983850              abc        4  4914    513026196206155000     县级
1     1313985              abc        3  2017    510823198107263000     县级
2      127339              abc        1  2014    510821194910042000   县级示范
3      571526              abc        2  2016    512927196902212000     省级
4      182756              abc        3  2016    513429193904056000     县级
5     1502275              abc        3  2014    51172420071214208X     县级
6     1731543              abc        2  2017    513027194301281000   县级示范
7      500884              abc        6  2017    511521198211105000     县级
8      741489              abc        3  2017  51302219680723800000      县
9      144520              abc        6  2016    510821197512207000   县级示范
10    1358805              abc        3  2014  51082319660405200000     县级
11     752637              abc        5  2017  51302219681213400000      县
12      96092              abc        5  2015    513028196608174000     县级
13    1014453              abc        5  2017    510902197206115000    四川省
14    1346827              abc        4  2017    510823194802140000     县级
15     598956              abc        4  2015    513422198804232000   县级示范
16     892020              abc        6  2015    513721199112052000     县级
17      77813              abc        2  2015    513028194902216000     县级
18     769571              abc        4  2017    513022196807186000      县
19     120827              abc        4  2014    51132119760903267X   县级示范
20     800779              abc        4  2017    513436200106153000     县级
21    1421487              abc        1  2017    510823195803040000     县级
22    1783333              abc        2  2015    512531196003075000     县级
23    1837944              abc        5  2017    510522200508150000     省级
24     622192              abc        5  2015    513334198008081000     县级
25    1291194              abc        2  2014    510823196406017000     县级
26    1859180              abc        2  2017    510522200601130000     省级
27    1507442              abc        3  2014    513029194201041000     县级
28     547633              abc        4  2014    512927196812249000     省级
29      29396              abc        3  2014    510824198912292000   县级示范
...       ...              ...      ...   ...                   ...    ...
2970  1622644              abc        4  2017    513025196504257000     县级
2971   746832              abc        6  2017    513022195306190000      县
2972  1870523              abc        4  2017  51303019540619800000     县级
2973   501712              abc        6  2016    51052220030724634X  2015年
2974   805799              abc        2  2016    512533196805291000     省级
2975  1334084              abc        2  2015    51082319580807133X     县级
2976   757445              abc        6  2017    513022198002100000      县
2977   566880              abc        2  2016    513024196401052000     县级
2978   625813              abc        3  2015    513334197112014000     县级
2979   396882              abc        5  2017    510812197407064000     县级
2980  1452241              abc        5  2014    513029197304050000     县级
2981  1249410              abc        4  2016    510823196907232000     县级
2982   138543              abc        3  2015    513228197504212000      县
2983  1023344              abc        5  2017    51090219951117118X    四川省
2984   879829              abc        5  2015    511921201402101000     县级
2985  1792717              abc        3  2017    513025195401046000     县级
2986  1738724              abc        4  2017    513701199512252000   县级示范
2987  1552410              abc        9  2016    513233197801221000     县级
2988  1736676              abc        4  2017    513027195301161000   县级示范
2989  1176424              abc        5  2016    513332198310270000     市级
2990  1169341              abc        8  2016    513332197809250000     市级
2991   855944              abc        3  2017    513027195107087000   县级示范
2992  1028628              abc        7  2017    51102819750218361X    四川省
2993   851408              abc        2  2016    513027195811108000   县级示范
2994   605034              abc        6  2014    513026195209167000     县级
2995   694246              abc        5  2014    51343019701111421X     省级
2996   196512              abc        6  2016    513429199804233000     县级
2997   100443              abc        2  2016    510524195607280000     县级
2998  1278946              abc        6  2014    511724200901192000     县级
2999   185772              abc        4  2016    51342919531105121X     县级

      breed_year  equip_breed  land_year  land_size       ...        \
0            NaN          NaN        NaN        NaN       ...
1            NaN          NaN        NaN        NaN       ...
2            NaN          NaN        NaN        NaN       ...
3            NaN          NaN        NaN        NaN       ...
4            NaN          NaN        NaN        NaN       ...
5            NaN          NaN        NaN        NaN       ...
6            NaN          NaN        NaN        NaN       ...
7            NaN          NaN        NaN        NaN       ...
8            NaN          NaN        NaN        NaN       ...
9            NaN          NaN        NaN        NaN       ...
10           NaN          NaN        NaN        NaN       ...
11           NaN          NaN        NaN        NaN       ...
12           NaN          NaN        NaN        NaN       ...
13           NaN          NaN        NaN        NaN       ...
14           NaN          NaN        NaN        NaN       ...
15           NaN          NaN        NaN        NaN       ...
16           NaN          NaN        NaN        NaN       ...
17           NaN          NaN        NaN        NaN       ...
18           NaN          NaN        NaN        NaN       ...
19           NaN          NaN        NaN        NaN       ...
20           NaN          NaN        NaN        NaN       ...
21           NaN          NaN        NaN        NaN       ...
22           NaN          NaN        NaN        NaN       ...
23           NaN          NaN        NaN        NaN       ...
24           NaN          NaN        NaN        NaN       ...
25           NaN          NaN        NaN        NaN       ...
26           NaN          NaN        NaN        NaN       ...
27           NaN          NaN        NaN        NaN       ...
28           NaN          NaN        NaN        NaN       ...
29           NaN          NaN        NaN        NaN       ...
...          ...          ...        ...        ...       ...
2970         NaN          NaN        NaN        NaN       ...
2971         NaN          NaN        NaN        NaN       ...
2972         NaN          NaN        NaN        NaN       ...
2973         NaN          NaN        NaN        NaN       ...
2974         NaN          NaN        NaN        NaN       ...
2975         NaN          NaN        NaN        NaN       ...
2976         NaN          NaN        NaN        NaN       ...
2977         NaN          NaN        NaN        NaN       ...
2978         NaN          NaN        NaN        NaN       ...
2979         NaN          NaN        NaN        NaN       ...
2980         NaN          NaN        NaN        NaN       ...
2981         NaN          NaN        NaN        NaN       ...
2982         NaN          NaN        NaN        NaN       ...
2983         NaN          NaN        NaN        NaN       ...
2984         NaN          NaN        NaN        NaN       ...
2985         NaN          NaN        NaN        NaN       ...
2986         NaN          NaN        NaN        NaN       ...
2987         NaN          NaN        NaN        NaN       ...
2988         NaN          NaN        NaN        NaN       ...
2989         NaN          NaN        NaN        NaN       ...
2990         NaN          NaN        NaN        NaN       ...
2991         NaN          NaN        NaN        NaN       ...
2992         NaN          NaN        NaN        NaN       ...
2993         NaN          NaN        NaN        NaN       ...
2994         NaN          NaN        NaN        NaN       ...
2995         NaN          NaN        NaN        NaN       ...
2996         NaN          NaN        NaN        NaN       ...
2997         NaN          NaN        NaN        NaN       ...
2998         NaN          NaN        NaN        NaN       ...
2999         NaN          NaN        NaN        NaN       ...

             tech_project  income  real_time out_poverty  input_user  \
0                    种养殖业       0        NaN           否         NaN
1                     NaN       0        NaN           否         NaN
2     四川省科技厅、县委、政府给与的科技项目    2600        NaN           否         NaN
3                     NaN       0        NaN           否         NaN
4                     NaN       0        NaN           否         NaN
5                     NaN       0        NaN           否         NaN
6                     NaN       0        NaN           否         NaN
7                     NaN       0        NaN           否         NaN
8                     NaN    3646        NaN           否         NaN
9     四川省科技厅、县委、政府给与的科技项目    2850        NaN           否         NaN
10                    NaN       0        NaN           否         NaN
11                    NaN    2156        NaN           否         NaN
12                    NaN       0        NaN           否         NaN
13                    NaN       0        NaN           否         NaN
14                    NaN       0        NaN           否         NaN
15                    NaN    3460        NaN           否         NaN
16                    NaN    3216        NaN           否         NaN
17                    NaN       0        NaN           否         NaN
18                    NaN    2625        NaN           否         NaN
19                    NaN       0        NaN           否         NaN
20                    NaN    2487        NaN           否         NaN
21                    NaN       0        NaN           否         NaN
22                    NaN    2130        NaN           否         NaN
23                    NaN       0        NaN           否         NaN
24                    NaN    1800        NaN           否         NaN
25                    NaN       0        NaN           否         NaN
26                    NaN       0        NaN           否         NaN
27                    NaN       0        NaN           否         NaN
28                    NaN       0        NaN           否         NaN
29                    NaN       0        NaN           否         NaN
...                   ...     ...        ...         ...         ...
2970                  NaN       0        NaN           否         NaN
2971                  NaN    3183        NaN           否         NaN
2972                  NaN       0        NaN           否         NaN
2973                  NaN       0        NaN           否         NaN
2974                  NaN    1566        NaN           否         NaN
2975                  NaN       0        NaN           否         NaN
2976                  NaN    3410        NaN           否         NaN
2977                 技术支撑    5190        NaN           否         NaN
2978                  NaN    2550        NaN           否         NaN
2979                  NaN       0        NaN           否         NaN
2980                  NaN       0        NaN           否         NaN
2981                  NaN       0        NaN           否         NaN
2982                  NaN    1263        NaN           否     18921.0
2983                  NaN       0        NaN           否         NaN
2984                  NaN    2120        NaN           否         NaN
2985                  NaN       0        NaN           否         NaN
2986                  NaN       0        NaN           否         NaN
2987                  NaN    3100        NaN           否         NaN
2988                  NaN       0        NaN           否         NaN
2989                  NaN    2540        NaN           否         NaN
2990                  NaN    2329        NaN           否         NaN
2991                  NaN       0        NaN           否         NaN
2992                  NaN       0        NaN           否         NaN
2993                  NaN       0        NaN           否         NaN
2994                    无    2569        NaN           否         NaN
2995                  NaN       0        NaN           否         NaN
2996                  NaN       0        NaN           否         NaN
2997                  NaN    4750        NaN           否         NaN
2998                  NaN       0        NaN           否         NaN
2999                  NaN       0        NaN           否         NaN

            input_time  check_status status  city_recorder county_recorder
0                  NaN             0      1            NaN             NaN
1                  NaN             0     -1            NaN             NaN
2                  NaN             0      1            NaN             NaN
3                  NaN             0      1            NaN             NaN
4                  NaN             0      1            NaN             NaN
5                  NaN             0      1            NaN             NaN
6                  NaN             0      1            NaN             NaN
7                  NaN             0      1            NaN             NaN
8                  NaN             0      1            NaN             NaN
9                  NaN             0      1            NaN             NaN
10                 NaN             0     -1            NaN             NaN
11                 NaN             0      1            NaN             NaN
12                 NaN             0      1            NaN             NaN
13                 NaN             0      1            NaN             NaN
14                 NaN             0     -1            NaN             NaN
15                 NaN             0      1            NaN             NaN
16                 NaN             0      1            NaN             NaN
17                 NaN             0      1            NaN             NaN
18                 NaN             0      1            NaN             NaN
19                 NaN             0      1            NaN             NaN
20                 NaN             0      1            NaN             NaN
21                 NaN             0      1            NaN             NaN
22                 NaN             0      1            NaN             NaN
23                 NaN             0      1            NaN             NaN
24                 NaN             0      1            NaN             NaN
25                 NaN             0     -1            NaN             NaN
26                 NaN             0      1            NaN             NaN
27                 NaN             0      1            NaN             NaN
28                 NaN             0      1            NaN             NaN
29                 NaN             0      1            NaN             NaN
...                ...           ...    ...            ...             ...
2970               NaN             0      1            NaN             NaN
2971               NaN             0      1            NaN             NaN
2972               NaN             0      1            NaN             NaN
2973               NaN             0      1            NaN             NaN
2974               NaN             0      1            NaN             NaN
2975               NaN             0     -1            NaN             NaN
2976               NaN             0      1            NaN             NaN
2977               NaN             0      1            NaN             NaN
2978               NaN             0      1            NaN             NaN
2979               NaN             0     -1            NaN             NaN
2980               NaN             0      1            NaN             NaN
2981               NaN             0     -1            NaN             NaN
2982  16/11/2016 15:30             0      1            NaN             NaN
2983               NaN             0      1            NaN             NaN
2984               NaN             0      1            NaN             NaN
2985               NaN             0      1            NaN             NaN
2986               NaN             0      1            NaN             NaN
2987               NaN             0      1            NaN             NaN
2988               NaN             0      1            NaN             NaN
2989               NaN             0      1            NaN             NaN
2990               NaN             0      1            NaN             NaN
2991               NaN             0      1            NaN             NaN
2992               NaN             0      1            NaN             NaN
2993               NaN             0      1            NaN             NaN
2994               NaN             0      1            NaN             NaN
2995               NaN             0      1            NaN             NaN
2996               NaN             0      1            NaN             NaN
2997               NaN             0      1            NaN             NaN
2998               NaN             0      1            NaN             NaN
2999               NaN             0      1            NaN             NaN

[3000 rows x 39 columns]>

In [3]:
df_drop_na = df.drop(['householder_name', 'address', 'city', 'city_id','county', 'town', 'village_name', 
                            'phone_num', 'helper_number', 'input_user', 'input_time', 'city_recorder', 'county_recorder',
                            'helper', 'real_time', 'check_status'], axis=1)

#pandas series 迭代遍历
for index, row in df_drop_nacolumn.iterrows():
    print(row["income"]) 
###筛选异常数据

In [4]:
df_itter_income = df_drop_na[df_drop_na['income']< 100000]
df_itter_year = df_itter_income[df_itter_income['year']< datetime.datetime.now().year]

In [5]:
df_itter_year.info()
df_itter_year.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2967 entries, 1 to 2999
Data columns (total 23 columns):
id                  2967 non-null int64
per_num             2967 non-null int64
year                2967 non-null int64
ID_card             2967 non-null object
level               2967 non-null object
breed_year          0 non-null float64
equip_breed         0 non-null float64
land_year           0 non-null float64
land_size           0 non-null float64
channel             0 non-null float64
channel_num         0 non-null float64
sale_income         0 non-null float64
county_id           2967 non-null int64
town_id             2967 non-null int64
village_id          2967 non-null int64
helper_unit         421 non-null object
plan_time           857 non-null object
help_industry       557 non-null object
industrial_scale    290 non-null object
tech_project        169 non-null object
income              2967 non-null int64
out_poverty         2967 non-null object
status              2967 non-null int64
dtypes: float64(7), int64(8), object(8)
memory usage: 556.3+ KB

,id,per_num,year,breed_year,equip_breed,land_year,land_size,channel,channel_num,sale_income,county_id,town_id,village_id,income,status
count,2.967000e+03,2967.000000,2967.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.967000e+03,2.967000e+03,2.967000e+03,2967.000000,2967.000000
mean,9.825034e+05,3.756657,2015.656892,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.116862e+11,5.116863e+11,5.116863e+11,1089.729019,0.792383
std,5.321559e+05,1.708365,1.184685,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.286960e+08,9.287110e+08,9.287110e+08,1866.027135,0.610127
min,1.837200e+04,1.000000,2013.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.105220e+11,5.105221e+11,5.105221e+11,0.000000,-1.000000
25%,5.542025e+05,2.000000,2014.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.108240e+11,5.108241e+11,5.108241e+11,0.000000,1.000000
50%,9.979900e+05,4.000000,2016.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.117020e+11,5.117022e+11,5.117022e+11,0.000000,1.000000
75%,1.422330e+06,5.000000,2017.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.119210e+11,5.119211e+11,5.119211e+11,2266.000000,1.000000
max,1.902650e+06,13.000000,2017.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.134370e+11,5.134372e+11,5.134372e+11,29960.000000,1.000000

#更改 ID_CARD ，转换为年龄

In [6]:
ID_card = df_itter_year['ID_card']
ID_list = []
for item in ID_card:
    sl_item = datetime.datetime.now().year - int(item[6:10])
    ID_list.append(sl_item)

df_itter_year.loc[:, 'ID_card'] = ID_list

/usr/local/lib/python3.6/site-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [7]:
income_mean = df_itter_year['income'].mean()
df_itter_year['income'] = df_itter_year.loc[:,'income'].replace(0, income_mean)

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [8]:
df_itter_year['out_poverty'] = df_itter_year['out_poverty'].replace('否','0')
df_itter_year['out_poverty'] = df_itter_year['out_poverty'].replace('是','1')
df_itter_year['level'] = df_itter_year['level'].replace('一般农户','0')
df_itter_year['level'] = df_itter_year['level'].replace('低保户','0')
df_itter_year['level'] = df_itter_year['level'].replace('低保贫苦户','0')
df_itter_year['level'] = df_itter_year['level'].replace('县级','1')
df_itter_year['level'] = df_itter_year['level'].replace('区级','1')
df_itter_year['level'] = df_itter_year['level'].replace('县','1')
df_itter_year['level'] = df_itter_year['level'].replace('县级示范','2')
df_itter_year['level'] = df_itter_year['level'].replace('省级','3')
df_itter_year['level'] = df_itter_year['level'].replace('省','3')
df_itter_year['level'] = df_itter_year['level'].replace('省级示范','3')
df_itter_year['level'] = df_itter_year['level'].replace('四川省','3')
df_itter_year['level'] = df_itter_year['level'].replace('国家级','4')

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [10]:
df_itter_year.info()
df_itter_year.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2967 entries, 1 to 2999
Data columns (total 23 columns):
id                  2967 non-null int64
per_num             2967 non-null int64
year                2967 non-null int64
ID_card             2967 non-null int64
level               2967 non-null object
breed_year          0 non-null float64
equip_breed         0 non-null float64
land_year           0 non-null float64
land_size           0 non-null float64
channel             0 non-null float64
channel_num         0 non-null float64
sale_income         0 non-null float64
county_id           2967 non-null int64
town_id             2967 non-null int64
village_id          2967 non-null int64
helper_unit         421 non-null object
plan_time           857 non-null object
help_industry       557 non-null object
industrial_scale    290 non-null object
tech_project        169 non-null object
income              2967 non-null float64
out_poverty         2967 non-null object
status              2967 non-null int64
dtypes: float64(8), int64(8), object(7)
memory usage: 636.3+ KB

,id,per_num,year,ID_card,breed_year,equip_breed,land_year,land_size,channel,channel_num,sale_income,county_id,town_id,village_id,income,status
count,2.967000e+03,2967.000000,2967.000000,2967.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.967000e+03,2.967000e+03,2.967000e+03,2967.000000,2967.000000
mean,9.825034e+05,3.756657,2015.656892,49.801820,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.116862e+11,5.116863e+11,5.116863e+11,1796.014460,0.792383
std,5.321559e+05,1.708365,1.184685,20.290452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.286960e+08,9.287110e+08,9.287110e+08,1487.659478,0.610127
min,1.837200e+04,1.000000,2013.000000,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.105220e+11,5.105221e+11,5.105221e+11,570.000000,-1.000000
25%,5.542025e+05,2.000000,2014.000000,38.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.108240e+11,5.108241e+11,5.108241e+11,1089.729019,1.000000
50%,9.979900e+05,4.000000,2016.000000,51.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.117020e+11,5.117022e+11,5.117022e+11,1089.729019,1.000000
75%,1.422330e+06,5.000000,2017.000000,66.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.119210e+11,5.119211e+11,5.119211e+11,2266.000000,1.000000
max,1.902650e+06,13.000000,2017.000000,101.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.134370e+11,5.134372e+11,5.134372e+11,29960.000000,1.000000